#useDynLib(pchc, .registration = TRUE)

importFrom("bnlearn", hc, score, graphviz.plot, amat)
importFrom("pchc", rbn, rbn2, rbn3)
importFrom("Rfast", standardise, colMaxs, eachcol.apply)
importFrom("stats", pf, cor)

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
export(.onAttach)


